.tags-display-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.tags-list {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 90%;
}

.tag-item {
  display: block;
  background-color: black;
  opacity: 0.5;
  width: auto;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  left: 0rem;
  top: 0rem;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;

  &:hover {
    opacity: 0.7;
    transform: scale(1.07) translateY(-1px);
  }
}
