@keyframes opacityFadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}

@keyframes moveDown {
  0% {
    translate: transformX(10rem, 0);
  }
  100% {
    translate: transformX(0, 0);
  }
}
