.container {
  background-color: pink;
}

.form-container {
  background-color: blue;
}

.input {
  display: block;
  width: 80%;
  height: 2rem;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}
