.full-post {
  width: 1000px;
  height: 500px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;

  &__image {
    position: relative;
    height: 500px;
    width: 500px;
    float: left;

    & img {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.5s;
      z-index: 1;
    }
    & button {
      position: absolute;
      z-index: 2;
      right: 1rem;
      bottom: 1rem;
    }
  }

  &-description--edit-mode {
    min-width: 300px;
    background-color: pink;
  }

  &__textbox {
    width: 500px;
    padding: 32px;
    float: right;

    & h1 {
      font-size: 3.2rem;
      padding-bottom: 1rem;
    }

    & p {
      font-size: 1.6rem;
      padding: 1rem 3rem;
    }

    &--button {
      position: absolute;
      bottom: 2rem;
      right: 25%;
      transform: translate(50%, -50%);
      &-save {
        position: absolute;
        bottom: 2rem;
        right: 25%;
        transform: translate(50%, -50%);
      }
    }
  }
}
