.Post {
  position: relative;
  width: 250px;
  background-color: rgba(250, 128, 114, 0.253);
  height: 250px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.Post-container {
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.Image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}

.Heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: white;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.Post:hover .Heading {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.Post:hover .Image {
  transform: scale(1.2);
  filter: blur(3px) brightness(80%);
}

.Post:hover,
.Post:active {
  background-color: #c0ddf5;
}

.Author {
  margin: 16px 0;

  text-decoration: underline;
}

.Content {
  margin: 16px 0;

  font-style: italic;
}
