@keyframes opacityFadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.85; } }

@keyframes moveDown {
  0% {
    translate: transformX(10rem, 0); }
  100% {
    translate: transformX(0, 0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 0, 700;
  line-height: 0.8;
  letter-spacing: 2; }

.post {
  position: relative;
  width: 350px;
  background-color: rgba(250, 128, 114, 0.253);
  height: 350px;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer; }
  .post--container {
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  .post__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s; }
  .post__textbox {
    position: absolute;
    font-size: 1.6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: white;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
    .post__textbox--author {
      margin: 16px 0;
      text-decoration: underline; }
    .post__textbox--content {
      margin: 16px 0;
      font-style: italic; }
  .post:hover .post__textbox {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .post:hover .post__image {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%); }
  .post:hover, .post:active {
    background-color: #c0ddf5; }

.tags-display-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5; }

.tags-list {
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 90%; }

.tag-item {
  display: block;
  background-color: black;
  opacity: 0.5;
  width: auto;
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  left: 0rem;
  top: 0rem;
  padding: 10px;
  margin: 5px;
  border-radius: 5px; }
  .tag-item:hover {
    opacity: 0.7;
    transform: scale(1.07) translateY(-1px); }

.btn-edit {
  border: none;
  color: green;
  background-color: white;
  font-size: 1.6rem; }
  .btn-edit span:link, .btn-edit span:visited {
    font-size: 1.6rem;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s; }
  .btn-edit span:hover, .btn-edit span:visited {
    font-weight: bold;
    transform: translateY(-2px); }

.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed; }

.Button {
  background-color: transparent;
  height: 16px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold; }

.infront-image {
  position: absolute;
  z-index: 3;
  right: 1rem;
  bottom: 4rem; }

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  left: o;
  top: 0;
  background-color: black;
  opacity: 0.85;
  animation: opacityFadein 0.2s ease-in; }

@keyframes scaleUp {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(1); } }

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  box-shadow: 10px 10px 10px black;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  opacity: 1;
  transform: scale(1);
  animation: scaleUp 0.1s ease-in; }

.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%; }

.Loader {
  color: purple;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.Loader:before,
.Loader:after {
  position: absolute;
  content: ""; }

.Loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.Loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.Updated {
  width: 93%;
  font-size: 1.6rem;
  margin-left: 2rem;
  padding: 1rem;
  background-color: lightgreen;
  animation: moveDown 1s; }

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%; }
  .nav__items {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center; }
  .nav a {
    color: #ffffff;
    height: 100%;
    padding: 16px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block; }
  .nav a:hover,
  .nav a:active,
  .nav .active {
    background-color: #929292;
    border-bottom: 4px solid #54af6b;
    color: white; }

/* @media (min-width: 500px) {
  .NagivationItems {
    flex-flow: column;
  }
} */
.Content {
  margin-top: 72px; }

.Posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  width: 1150px;
  margin: auto; }

.full-post {
  width: 1000px;
  height: 500px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex; }
  .full-post__image {
    position: relative;
    height: 500px;
    width: 500px;
    float: left; }
    .full-post__image img {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: all 0.5s;
      z-index: 1; }
    .full-post__image button {
      position: absolute;
      z-index: 5;
      right: 1rem;
      bottom: 1rem; }
  .full-post__tags-input {
    position: absolute;
    z-index: 5;
    right: 1rem;
    bottom: 4rem; }
  .full-post-description--edit-mode {
    min-width: 300px; }
  .full-post__textbox {
    position: relative;
    width: 500px;
    z-index: -1;
    padding-left: 4rem;
    padding-top: 2rem; }
    .full-post__textbox--buttons-container {
      display: inline-block;
      width: 30px;
      margin: 10px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 90%; }
    .full-post__textbox-tabs {
      display: flex;
      flex-direction: row;
      transform: rotate(90deg);
      left: 0;
      top: 0; }
    .full-post__textbox h1 {
      font-size: 3.2rem;
      padding-bottom: 1rem; }
    .full-post__textbox p {
      font-size: 1.6rem;
      padding: 1rem 3rem; }
    .full-post__textbox--button {
      position: absolute;
      bottom: 2rem;
      right: 25%;
      transform: translate(50%, -50%); }
      .full-post__textbox--button-save {
        position: absolute;
        bottom: 2rem;
        right: 25%;
        transform: translate(50%, -50%); }

.container {
  background-color: pink; }

.form-container {
  background-color: blue; }

.input {
  display: block;
  width: 80%;
  height: 2rem;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto; }
